name: Build Python EXE (Windows)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest # 必須在 Windows 環境下運行才能產生 .exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build EXE with PyInstaller
        run: |
          pyinstaller main.py

      - name: Upload EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: dist/*.exe
